:root {
  --background-color: #f8f8f8;
  --text-color: #333;
  --line-color: #888;
  --button-hover-color: #3a3a3a;
  --input-background-color: #fff;
}

/* Basic Style */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-label,
.top-section__task-input,
.task-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.top-section__form {
  display: flex;
}

.checkbox,
.top-section__task-input,
.task-input,
.delete-button,
.edit-button,
.top-section__add-button {
  outline: none;
}

.delete-button,
.edit-button,
.top-section__add-button {
  background: none;
  border: 0;
  color: var(--line-color);
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.delete-button:hover,
.edit-button:hover,
.top-section__add-button:hover {
  color: var(--button-hover-color);
}

/* Heading */
.top-section__task-label,
.to-do-section__title,
.completed-tasks-section__title {
  color: var(--text-color);
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid var(--text-color);
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.top-section__task-input,
.task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: var(--input-background-color);
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: var(--line-color);
}
.top-section__task-input:focus,
.task-input:focus {
  color: var(--text-color);
}

/* New Task */
.top-section__task-label {
  display: block;
  margin: 0 0 20px;
}

#top-section__new-task {
  width: 318px;
}

/* Task list */
.task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.task-item > * {
  vertical-align: middle;
}

.checkbox {
  margin: 0 10px;
}

.task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.delete-button__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-button__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-mode {
  text-decoration: line-through;
  color: var(--line-color);
}

/* Edit Task */
.task-input {
  display: none;
}

.edit-mode .task-input {
  display: inline-block;
  width: 224px;
}

.edit-mode .task-label {
  display: none;
}